// Font Monserrat

@font-face {
  src: url("~@/assets/fonts/Monserrat/Montserrat-Bold.otf");
  font-family: "Montserrat-Bold";
}

@font-face {
  src: url("~@/assets/fonts/Monserrat/Montserrat-Light.otf");
  font-family: "Montserrat-Light";
}

@font-face {
  src: url("~@/assets/fonts/Monserrat/Montserrat-Medium.otf");
  font-family: "Montserrat-Medium";
}

@font-face {
  src: url("~@/assets/fonts/Monserrat/Montserrat-SemiBold.otf");
  font-family: "Montserrat-SemiBold";
}

// Font Raleway

@font-face {
  src: url("~@/assets/fonts/Raleway/Raleway-Bold.otf");
  font-family: "Raleway-Bold";
}
