.result-todo {
  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Montserrat-Medium";
    font-size: 18px;
    color: #000000;
    margin: 0 0 27px 0;
  }
}
